.nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid #ddd;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-size: 16px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 28px;
  height: 3px;
  margin: 5px;
  background: var(--text);
  transition: 0.3s;
}

.dark-btn {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: var(--bg);
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
